<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.correction.backend.modules.file.mapper.FileResouceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.correction.backend.modules.file.entity.FileResouce">
        <id column="id" property="id" />
        <result column="file_name" property="fileName" />
        <result column="file_path" property="filePath" />
        <result column="file_type" property="fileType" />
        <result column="file_url" property="fileUrl" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="creator" property="creator" />
        <result column="updater" property="updater" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, file_name, file_path, file_type, file_url, create_time, update_time, creator, updater, deleted
    </sql>

    <!-- 通用查询结果列 别名 -->
    <sql id="Base_Column_List_Alias">
        fileResouce.id,fileResouce.file_name AS fileName,fileResouce.file_path AS filePath,fileResouce.file_type AS fileType,fileResouce.file_url AS fileUrl,fileResouce.create_time AS createTime,fileResouce.update_time AS updateTime,fileResouce.creator,fileResouce.updater,fileResouce.deleted
    </sql>
</mapper>
