<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.correction.backend.modules.sys.mapper.DocumentCenterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.correction.backend.modules.sys.entity.DocumentCenter">
        <id column="id" property="id" />
        <result column="use_type" property="useType" />
        <result column="status" property="status" />
        <result column="file_name" property="fileName" />
        <result column="file_path" property="filePath" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="creator" property="creator" />
        <result column="updater" property="updater" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, use_type, status, file_name, file_path, create_time, update_time, creator, updater, deleted
    </sql>

    <!-- 通用查询结果列 别名 -->
    <sql id="Base_Column_List_Alias">
        documentCenter.id,documentCenter.use_type AS useType,documentCenter.status,documentCenter.file_name AS fileName,documentCenter.file_path AS filePath,documentCenter.create_time AS createTime,documentCenter.update_time AS updateTime,documentCenter.creator,documentCenter.updater,documentCenter.deleted
    </sql>
</mapper>
