<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.correction.backend.modules.sys.mapper.OrgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.correction.backend.modules.sys.entity.OrgDO">
        <id column="id" property="id" />
        <result column="org_name" property="orgName" />
        <result column="org_num" property="orgNum" />
        <result column="org_code" property="orgCode" />
        <result column="employee_count" property="employeeCount" />
        <result column="org_type" property="orgType" />
        <result column="in_charge" property="inCharge" />
        <result column="pid" property="pid" />
        <result column="compile_count" property="compileCount" />
        <result column="description" property="description" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="creator" property="creator" />
        <result column="updater" property="updater" />
        <result column="deleted" property="deleted" />
        <result column="parent_names" property="parentNames" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, org_name, org_num, org_code, employee_count, org_type, in_charge, pid, compile_count, description, create_time, update_time, creator, updater, deleted
    </sql>

    <!-- 通用查询结果列 别名 -->
    <sql id="Base_Column_List_Alias">
        org.id,org.org_name AS orgName,org.org_num AS orgNum,org.org_code AS orgCode,org.employee_count AS employeeCount,org.org_type AS orgType,org.in_charge AS inCharge,org.pid,org.compile_count AS compileCount,org.description,org.create_time AS createTime,org.update_time AS updateTime,org.creator,org.updater,org.deleted
    </sql>
</mapper>
