<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.correction.backend.modules.sys.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.correction.backend.modules.sys.entity.Role">
        <id column="id" property="id" />
        <result column="role_name" property="roleName" />
        <result column="description" property="description" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="creator" property="creator" />
        <result column="updater" property="updater" />
        <result column="deleted" property="deleted" />
        <result column="org_id" property="orgId"/>
        <result column="org_info" property="orgInfo"/>
    </resultMap>
    <select id="findRoleByOrgId" resultType="com.correction.backend.modules.sys.entity.Role">
        select id,role_name,description,org_id,org_info from sys_role where org_id  = #{orgId}
    </select>


</mapper>
